hw1/instructor/src/edu/nyu/cs/cs2580/*.class
hw1/instructor/src/edu/nyu/cs/cs2580/bing
hw1/instructor/src/edu/nyu/cs/cs2580/data
hw1/instructor/src/edu/nyu/cs/cs2580/myfile
hw1/instructor/src/edu/nyu/cs/cs2580/*.tsv
hw1/instructor/src/edu/nyu/cs/cs2580/test
hw1/instructor/src/result

